<div>
    <div *ngIf="currentUser.id" class="edit-form">
      <h4>USer</h4>
      <form>
        <div class="form-group">
          <label for="username">username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            [(ngModel)]="currentUser.username"
            name="username"
          />
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            [(ngModel)]="currentUser.email"
            name="email"
          />
        </div>
  
        <!-- <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentTutorial.published ? "Published" : "Pending" }}
        </div> -->
      </form>
  
      <!-- <button
        class="badge badge-primary mr-2"
        *ngIf="currentTutorial.published"
        (click)="updatePublished(false)"
      >
        UnPublish
      </button> -->
      <!-- <button
        *ngIf="!currentTutorial.published"
        class="badge badge-primary mr-2"
        (click)="updatePublished(true)"
      >
        Publish
      </button> -->
  
      <button class="badge badge-danger mr-2" (click)="deleteUser()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateUser()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentUser.id">
      <br />
      <p>Cannot access this user...</p>
    </div>
  </div>
