
  <!-- Landing Section -->
  <section class="landing" id="welcome-section">
    <div class="container">
      <div class="text">
        <h1>welcome to my portfolio.</h1>
        <span>I'm front end developer which is cool.!</span>
        <p>I have made up this portfolio for puplishing my projects into it so feel free to explorer it and don't forget to give me your feedbacks. your feedbacks will make this portfolio much more and more better.!</p>
        <div class="btns-group">
          <a href="#projects" class="btn btn-primary">let's explorer</a>
        </div>
      </div>
      <div class="image">
        <img src="https://image.freepik.com/free-vector/web-development-programmer-engineering-coding-website-augmented-reality-interface-screens-developer-project-engineer-programming-software-application-design-cartoon-illustration_107791-3863.jpg" alt="Coding Illsturation">
      </div>
    </div>
  </section>
  <!-- Projects Section -->
  <section class="projects" id="projects">
    <h2 class="section-title fill">Projects</h2>
    <div class="container" *ngFor="let home of home">
      <div class="projects-content">
        <div class="project">
          <div class="project-image">
            <img src="https://images.unsplash.com/photo-1498049860654-af1a5c566876?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="Project Image">
          </div>
          <div class="project-details">
            <h3 class="project-tile">{{home.name}}</h3>
            <p class="project-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, quos recusandae. Vitae hic sit accusantium!</p>
            <div class="btns-group">
              <a href="#" class="btn btn-primary">view project</a>
            </div>
          </div>
        </div>

   
      </div>
      <div class="more-projects">
        <a href="https://codepen.io/FedLover/" target="_blank" class="btn btn-primary" id="profile-link">show more <i class="fas fa-chevron-right"></i></a>
      </div>
    </div>
  </section>
