    <!-- <app-navbar></app-navbar> -->
    <main>
      <div class="card">
        <div class="card-header text-primary">
           <!-- <h2> {{title}}</h2> -->
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th>
                                <button class="btn btn-primary"
                                (click)="toggleImage()">
                                    {{showImage? 'Hide':'Show'}} Image
                                </button>
                            </th> -->
                            <th>username</th>
                         
                            <th *ngIf="userIsAuthenticated">Update</th>
                            <th *ngIf="userIsAuthenticated">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                        
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                           
                            <td *ngIf="userIsAuthenticated"><a [routerLink]="['/update',user._id]"><button type="button" class="btn btn-info"> Update </button> </a>  </td>
                            <td *ngIf="userIsAuthenticated" > <button type="button" class="btn btn-danger" (click)="onDelete(user._id)"> Delete </button>  </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
    
    </main>
 
    
      