
#container {
    font-family: 'Open Sans', sans-serif;
    background: rgba(3, 3, 55, 0.5);
    width: 40vw;
    height: 60vh;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header {
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
    height: 3rem;
    background: rgba(3, 3, 55, 0.7);
    font-size: 1.4rem;
    font-weight: 400;
    color: #d3d3d3;
}

fieldset {
    border: 0;
    text-align: center;
    padding-top: 30px;
}

input[type="submit"] {
    background: rgba(235, 30, 54, 1);
    border: 0;
    display: block;
    margin: auto;
    color: white;
    padding: 0.7rem;
    cursor: pointer;
}

input {
    background: transparent;
    border: 0;
    border-left: 4px solid;
    border-color: #FF0000;
    padding: 10px;
    color: white;
    width: 70%;
    margin: 20px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: 0;
    background: rgba(235, 30, 54, 0.3);
    border-radius: 1.2rem;
    border-color: transparent;
}

::placeholder {
    color: #d3d3d3;
}

a{
    color: #fff;
}

/*Media queries */

@media (maX-width: 800px) {
    #container {
        width: 80vw;
        margin-bottom: 10%;
    }
}
    @media (min-width: 569px) and (max-width: 768px) {
        #container {
            margin-top: 5%;
            margin-bottom: 5%;
        }
    }