<div id="container">
    <header>Connectez-vous</header>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
       <fieldset>

          <input formControlName="email" type="email" id="email" placeholder="Email" required>
          
          <input formControlName="password" type="password" id="password" placeholder="Password" required>
          
          <label for="submit"></label>
          <input type="submit" name="submit" id="submit" value="CONNEXION">
          <a routerLink="/signup">Vous n'avez pas de compte? Inscrivez-vous</a>
       </fieldset>
       
    </form>
    
 </div>