<!-- <div id="container">
    <header>Connectez-vous</header>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
       <fieldset>

          <input formControlName="email" type="email" id="email" placeholder="Email" required>
          
          <input formControlName="password" type="password" id="password" placeholder="Password" required>
          
          <label for="submit"></label>
          <input type="submit" name="submit" id="submit" value="CONNEXION">
          <a routerLink="/signup">Vous n'avez pas de compte? Inscrivez-vous</a>
       </fieldset>
       
    </form>
    
 </div> -->
 <div class="main">
 
       <div class="container b-container is-txl" id="b-container">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="form" id="b-form">
          <h2 class="form_title title">Sign in to Website</h2>
        
          <input  formControlName="email" class="form__input" type="email" placeholder="Email">
          <input formControlName="password" class="form__input" type="password" placeholder="Password">
          <button class="form__button button submit">SIGN IN</button>
        </form>
      </div>
      <div class="switch is-txr" id="switch-cnt">
        <div class="switch__circle"></div>
        <div class="switch__circle switch__circle--t"></div>
       
        <div class="switch__container " id="switch-c1">
          <h2 class="switch__title title">Hello Friend !</h2>
          <p class="switch__description description">Enter your personal details and start journey with us</p>
          <button routerLink="/signup" class="switch__button button switch-btn">SIGN UP</button>
        </div>
      </div>
    </div>
  