<!-- <div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span> -->
  
        <!-- form card login -->
        <!-- <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">loGIN</h3>
          </div>
          <div class="card-body">
            <form class="form">
              <div class="form-group">
                <label for="">Email</label>
                <input [(ngModel)]="loginUserData.email" name="email" type="email"  class="form-control rounded-0" >
              </div>
              <div class="form-group">
                <label>Password</label>
                <input [(ngModel)]="loginUserData.password" name="password" type="password"  class="form-control rounded-0"  >
              </div>
              <button (click)="loginUser()" type="button"  class="btn btn-primary float-right">LOGIN</button>
            </form>
          </div> -->
          <!--/card-block-->
        <!-- </div> -->
        <!-- /form card login -->
  
      <!-- </div>
  
  
    </div>
  </div> -->

  <div class="form-body on-top-mobile">
     
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <div class="info-holder simple-info">
                <div><img src="logo-light.svg" alt=""></div>
                <div><h3>We’re Accepting applications!</h3></div>
                <div><p>Fill the form, attach your  latest CV <br>and portfolio to get listed.</p></div>
            </div>
        </div>
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Get more things done with Loggin platform.</h3>
                    <p>Access to the most powerfull tool in the entire design and web industry.</p>
                    <div class="page-links">
                        <a routerLink="/login" class="active">Login</a><a routerLink="/register">Register</a>
                    </div>
                    <form>
                        <input [(ngModel)]="loginUserData.email" name="email" class="form-control" type="text"  placeholder="E-mail Address" required>
                        <input [(ngModel)]="loginUserData.password" name="password" class="form-control" type="password"  placeholder="Password" required>
                        <div class="form-button">
                            <button  (click)="loginUser()" id="submit" type="submit" class="ibtn">Login</button> <a href="forget7.html">Forget password?</a>
                        </div>
                    </form>
                    <div class="other-links">
                        <span>Or login with</span><a href="#">Facebook</a><a href="#">Google</a><a href="#">Linkedin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>