.button {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    margin-top: 3px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
    background-color: #4B70E2;
    color: #f9f9f9;
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
    border: none;
    outline: none;
  }
  .title {
    font-size: 34px;
    font-weight: 700;
    line-height: 3;
    color: #181818;
  }